@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f0e8d8;
}
::-webkit-scrollbar-thumb {
  background: #9dcfb4;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4a9e70;
}

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
